/* Default styles for elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #001127;
  color: white;
}

a {
  text-decoration: none;
  color: #ff8b32;
  ;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.200);

  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  justify-content: space-between;
}

.logo {
  font-size: 32px;
  font-weight: 900;
}

.main {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  border: 1px solid white;
  border-radius: 16px;
  width: 300px;
  height: 500px;
  padding: 16px;

  font-size: 24px;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.calculator button {
  font-size: inherit;
  font-weight: inherit;
}

.calculator__display {
  background-color: #ffffff29;
  height: 20%;
  padding: 16px;
  border-radius: 8px 8px 0 0;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.calculator__keypads {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  flex: 1;

  display: flex;
  gap: 8px;
}

.row>*,
.row button {
  flex: 1;
}

/* Add border radius to the bottom keypad */
.key-dot {
  border-bottom-left-radius: 8px;
}

.equal-operator {
  border-bottom-right-radius: 8px;
}

.key-operator {
  background-color: #ff8b32;
}